.CardPickerContainer {
  bottom: 0;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.CardPicker {
  min-width: 60px;
  max-width: 60px;
  max-height: 80px;
  min-height: 80px;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--color-background-secondary);
}

.CardPicker:hover {
  box-shadow: 0 0px 12px 0 lightgrey;
}

.CardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16;
  padding-bottom: 10px !important;
}

.CardContentTop {
  margin-top: -5px;
  font-size: 8px;
  text-align: left;
}

.CardContentMiddle {
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CardContentBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25px;
  text-align: right;
}
